@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-light-blue: #1687BF;
  --color-dark-blue: #041E37;
  --color-accent: #155B7E;
  --color-light-gray: #DDE1E3;
  --color-medium-gray: #909598;
  --color-highlight: #179ADA;
  --color-gold: #FFD700;
  --color-silver: #C0C0C0;
  --color-bronze: #CD7F32;
}

@theme {
  --color-light-blue: #1687BF;
  --color-dark-blue: #041E37;
  --color-accent: #155B7E;
  --color-light-gray: #DDE1E3;
  --color-medium-gray: #909598;
  --color-highlight: #179ADA;
  --color-gold: #FFD700;
  --color-silver: #C0C0C0;
  --color-orange-prize: #F7931E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-orbitron);
}
