@import 'tailwindcss';

@theme {
  /* Cores */
  --color-primary: #D12A34;       
  --color-primary-dark: #841118;  
  --color-primary-darker: #440909;
  
  --color-neutral-light: #dde1e3;
  --color-neutral-medium: #909598;

  --color-background: #0e0d0d;

  --color-highlight: #ff3a47;

  --color-prize-gold: #ffd700;
  --color-prize-silver: #c0c0c0;
  --color-prize-bronze: #cd7f32;

  /* Fontes */
  --font-roboto: 'Roboto', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-orbitron);
}
